body {
  background-image: url(./world_map.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  background-color: #f8f5f4;
  border: none;
}
.scrollable-menu {
  max-height: 300px;
  overflow-y: auto;
}

.scrollable-menu li {
  display: none;
}

.scrollable-menu li:nth-child(n+8) {
  display: block;
}
